.sidebar{
    background-color: #272727;

    min-width: 250px;
    min-height: 100vh;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.sidebar li{
    padding: 10px 5px 15px;
    margin: 10px;
    border-bottom: 2px solid black;
    transition: 0.5s all;
}
.sidebar li:hover{
    background-color: #404083;
    border-radius: 0;
}

@media (max-width: 768px) {
    .sidebar{
        width: 100%;
        min-height: 80px;
        flex-direction: row;
        justify-content: center;
    }
}