.question-detail{
    width: 90%;
    /* max-width: 750px; */
    margin: 1rem auto;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.question-detail-info{
    border-left: 2px solid;
    padding: 10px;
}
.question-detail-info h3{
    font-family: ador, Arial, Helvetica, sans-serif;
    margin-top: 0;
}
