.code-editor{
    font-size: 1rem;
    width: 80%;
    text-align: left;
    margin: 10px auto;
}
.code-editor > div > div{
    box-shadow: 0 0 10px gray;
    padding: 5px;
    border-radius: 10px;
    min-height: 55px;
    height: fit-content;
}

@media (max-width: 768px) {
    .code-editor{
        width: 100%;
    }
}