.question{
    /* border: 1px double; */
    padding: 1rem;
    margin: 1rem auto;
    width: 90%;
    min-width: 30%;
    /* max-width: 550px; */

    /* background-color: lavender;
    box-shadow: 0 0 10px gray; */

border-radius: 48px;
background: linear-gradient(145deg, #cfcfe1, #f6f6ff);
box-shadow:  8px 8px 16px #c4c4d5,
             -8px -8px 16px #ffffff;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s all;
}

.tag{
    background-color: rgba(0, 128, 128, 0.8);
    color: white;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.question:hover {
    /* background: teal;
    background: -webkit-linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
    background: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e); */
    transform: scale(1.02);
}
.question:hover .highlighted-text {
    background-position-y: 100%;
    background-image: linear-gradient(ghostwhite 50%, yellow 50%);
    background-size: auto 200%;
}
