.ask-question{
    min-height: 80vh;
    border: 1px dashed;
    margin: 0 auto;
    padding: 1rem;
    background-color: lavender;
/* 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
}

.highlighted{
    color: red;
}
.formatted-code{
    position: absolute;   
}
.ask-question small{
    display: block;
    text-align: left;
    color: rgba(128, 128, 128, 0.493);
}