.question{
    /* border: 1px double; */
    padding: 1rem;
    margin: 1rem auto;
    width: 90%;
    min-width: 30%;
    /* max-width: 550px; */
    background-color: ghostwhite;
    box-shadow: 0 0 10px gray;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tag{
    background-color: rgba(0, 128, 128, 0.8);
    color: white;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}