.all-questions-container{
    background-color: lavender;
}
.all-questions{
    display: flex;
    flex-wrap: wrap;
}
.question-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.question-info > *{
    margin: 5px;
}