.App {
  text-align: center;
  /* background-color: aliceblue; */
  box-sizing: border-box;
}

.link-text{
  color: white;
  outline: none;
}
.error-text{
  color: red;
}

input{
  font-size: 1rem;
  padding: 0.5rem;
  outline: none;
}
li{
  list-style: none;
}
.loading{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 1); */
  color: ghostwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.loading img{
  max-width: 100px;
}

textarea{
  width: 450px;
  max-width: 95%;
}

.text-brand{
  color: #404083;
}
.btn-brand{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: teal;
  background-color: #404083;
  color: white;
  margin: 10px;
  padding: 0.5rem 1rem;
}
.highlighted-text{
  display: inline;
  color: #404083;
  /* padding: 5px 5px 0px; */
  background-position-y: -0%;
  background-image: linear-gradient( lavender 40%, yellow 60%);
  transition: all 0.5s ease;
  background-size: auto 175%;
}
.highlighted-text:hover{
  background-position-y: 100%;
  background-image: linear-gradient( lavender 50%, yellow 50%);
  background-size: auto 200%;

}
.icons{
  margin-right: 5px;
}
.shadow-sm{
  box-shadow: 1px 3px 5px gray;
}