@font-face {
  font-family: niladri;
  src: url(./fonts/Li\ Niladri\ Nur\ Unicode.ttf);
}
@font-face {
  font-family: ador;
  src: url(./fonts/Li\ Ador\ Noirrit\ Unicode.ttf);
}
@font-face {
  font-family: alima;
  src: url(./fonts/Li\ Sirajee\ Alima\ Unicode.ttf);
}
.App {
  text-align: center;
  /* background-color: aliceblue; */
  box-sizing: border-box;
  max-width: 100%;
  
}

.link-text{
  color: white;
  outline: none;
  font-family: ador, Arial, Helvetica, sans-serif;

}
.error-text{
  color: red;
}

input{
  font-size: 1rem;
  padding: 0.5rem;
  outline: none;
}
li{
  list-style: none;
}
.loading{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  color: ghostwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.loading img{
  max-width: 100px;
}

textarea{
  width: 450px;
  max-width: 95%;
}

.text-brand{
  color: #404083;
}
.btn-brand{
  /* border: none;
  outline: none;
  cursor: pointer;
  background-color: teal;
  background-color: #404083;
  color: white;
  margin: 10px;
  padding: 0.5rem 1rem; */
  height: 40px;
  width: 150px;
  margin: 1rem auto;
  color: white;
  font-weight: 700;
  font-family: ador, Arial, sans-serif;
  border: 1px solid white;
  background-color: #404083;
  cursor: pointer;

  background-image: linear-gradient(45deg,#fff 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: 0.8s all cubic-bezier(0.280, 0.840, 0.420, 1);
}
.btn-brand:hover{
  color: #111111;
  background-position: 0;
}

.highlighted-text{
  display: inline;
  color: #404083;
  font-family: ador, Arial, Helvetica, sans-serif;
  /* padding: 5px 5px 0px; */
  background-position-y: -0%;
  background-image: linear-gradient( lavender 40%, yellow 60%);
  transition: all 0.5s ease;
  background-size: auto 175%;
}
.highlighted-text:hover{
  background-position-y: 100%;
  background-image: linear-gradient( lavender 50%, yellow 50%);
  background-size: auto 200%;

}
.icons{
  margin-right: 5px;
}
.shadow-sm{
  box-shadow: 1px 3px 5px gray;
}

.user-input{
    font-size: 1rem;
    padding: 10px 8px;
    border: none;
    outline: none;
    margin: 5px auto 20px;
    background-color: transparent;
    border-left: 2px solid black;
    width: 95%;
    height: auto;
    transition: 0.3s all;
}
.user-input:focus-within{
  border-left: 5px solid #404083;
}
.inputs{
  position: relative;
  margin-bottom: 10px;
}
.tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  /* text-align: center; */
  padding: 10px 20px;
  border-radius: 6px;
    opacity: 0;
  transition: opacity 1s;
  
  position: absolute;
  z-index: 10;
  /* width: 120px; */
  width: fit-content;
  top: 100%;
  left: 10%;
  /* margin-left: -60px; */
}
.tooltip::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* Top of tooltip */
  left: 50%;
  margin-left: -7px;
  border: 7px solid;
  border-color: transparent transparent black transparent;
}
.inputs:focus-within .tooltip{
  visibility: visible;
  opacity: 1;
}