.nav-bar{
    background-color: black;
    margin: 0;
}
.nav-bar ul{
    margin: 0;
    padding: 0;
}
.nav-bar ul li{
    display: inline-block;
    padding: 1rem;
}
.nav-bar ul li:hover{
    background-color: #404083;
    transition: 0.3s all;
}
.nav-bar h1{
    font-size: 1.5rem;
    font-weight: 300;
    color: #94a7b7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar img{
    max-width: 60px;
}
.app-title{
  background-color: black;
  color: white;
  margin-top: 0;
}