.footer-area{
    /* background-image: linear-gradient(rgba(230, 230, 250, 0.425), rgba(230, 230, 250, 0.384)), url(../../../images/footer-bg.png); */
    background-size: cover;
    background-color: #272727;
    color: white;
    padding: 50px 0;
    margin-top: 50px;
}
.footer-area a{
    color: blanchedalmond;
}

.footer-area li{
    padding-bottom: 10px;
}
.social-media li{
    display: inline-block;
    margin: 0 5px;
}

.social-media .icon{
    height: 20px;
    width: 20px;
    color: #404083;
    border-radius: 50%;
    border: 1px solid #404083;
    padding: 10px;
}
.social-media .active-icon{
    background-color: #404083 ;
    color:white;
}
.footer-cols{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-cols ul{
    padding: 0;
}